.navigation {}

.navigation__wrapper {
  display: flex;
  margin: auto 4rem auto auto;
  padding-top: 4.8rem;
  justify-content: flex-end;
}

.navigation__menu {
  display: flex;
  justify-content: space-between;
  max-width: 24.3rem;
  max-height: 2.3rem;
}

.navigation__menu--item {
  margin-left: 2rem;

  &:nth-of-type(1) {
    margin-left: 0;
  }
}


