.about {
  background: $color-mine-shaft;
  color: #fff;
  width: 100vw;
  height: 100vh;
}

.about__wrapper {
  margin: auto 15.5rem;
}

.about__content {
  display: flex;
  margin: 6rem auto auto auto;
  max-width: 87rem;
  max-height: 39rem;
}

.about__content__media {
  width: 31.3rem;
  height: 37.9rem;
  position: relative;
}

.about__media__image {
  @extend %cover;

  object-fit: cover;
}

.about__content__informations {
  margin-left: 6rem;
}

.about__content__title {
  font-size: 3.3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.about__content__details {
  line-height: 2.5rem;
  max-width: 58.5rem;
  margin-bottom: 3rem;
}

.about__contact__link {
  h3 {
    margin-bottom: 2rem;
  }
}

.about__contact__link__title {
  font-weight: 600;
  margin-bottom: 3rem;
  border-bottom: 1.5px solid #fff;
  width: max-content;
}

.about__contact__link__item {
  margin-left: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;

  a:hover {
    cursor: pointer;
    color: rgb(201, 201, 201);
  }

  &:hover {
  }
}
