%cover {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin ratio($height, $width) {
  font-size: 0;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    display: inline-block;
    padding-top: $width / $height * 100%;
    width: 100%;
  }
}
