@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Fonts
$font-poppins: 'Poppins', sans-serif;

// Colors
$color-mine-shaft: #232323;
$color-abbey: #2D2D2D;
