.home__header {
  background: $color-mine-shaft;
  height: 100vh;
}

.home__hero__content {
  max-width: 62.9rem;
  max-height: 47.8rem;
  margin: 11rem auto 3.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero__hero__name {
  max-width: 37.5rem;
  max-height: 7.5rem;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.hero__hero__job {
  max-width: 50.1rem;
  max-height: 6rem;
  font-size: 4rem;
  margin-bottom: 7.5rem;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
}

.hero__hero__label {
  max-width: 62.9rem;
  max-height: 10rem;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 12rem;
  line-height: 45px;
}

.home__explore {
  width: 7.5rem;
  height: 7rem;
}

.home__explore__text {
  max-width: 7.5rem;
  max-width: 3rem;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

// Arrow Icon :
.iconify {
  margin-top: 1.5rem;
}

.iconifyteenyicons {}

.sorry {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(192, 192, 192);
  padding-top: 1rem;
  font-style: italic;
}
