.home__main__introduction {
  max-height: 38.5rem;
  max-width: 123.6rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;

}

.home__main__introduction--media {
  width: 31.3rem;
  height: 37.9rem;
  position: relative;
}

.home__main__introduction__image {
  @extend %cover;

  border-radius: 10px;
  transform: rotate(-2deg);
  object-fit: cover;

}

.home__main__introduction--content {
  max-height: 38.4rem;
  max-width: 66.6rem;
  font-weight: 600;
}

.home__main__introduction--hello {
  font-size: 3.3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.home__main__introduction--paragraph {
  max-height: 25rem;
  max-width: 77.3rem;
  line-height: 2;
  margin-bottom: 3.5rem;
}

.simplon {
  color : #CE0033;
}

.home__main__introduction--more {

  button {
    background: transparent;
    border-radius: 25px;
    border: 1.5px solid #fff;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    margin-left: 2rem;
    padding: 1rem;
    text-transform: uppercase;

    &:nth-of-type(1) {
      margin-left: 0;
    }

    &:hover {
      background: #fff;
      color: $color-abbey;
      transition: ease-in .5s;
      transform: scaleX(0.96);
    }
  }
}
