
.home__main__projects {
  margin-top: 9rem;
  padding-bottom: 5rem;
}

.home__main__projects--title {
  margin-bottom: 2rem;
  font-size: 3.3rem;
  font-weight: 700;

  span {
    font-size: 1.6rem;

    a {
      border-bottom: 2px solid #fff;
      cursor: pointer;
    }
  }
}

.home__main__projects--list {
  display: flex;
  justify-content: space-between;
}

.home__main__projects--element {
  max-height: 26.4rem;
  max-width: 31.6rem;
}

.home__main__projets--media {
  width: 31.5rem;
  height: 18.6rem;
  position: relative;
  margin-bottom: 2.5rem;

  a:hover {
    cursor: pointer
  }
}

.home__main__projects--image {
  @extend %cover;

  object-fit: cover;
}


.home__main__projects--date {
  margin-bottom: 1rem;
}

.home__main__projects--description {
  font-weight: 600;
}

.home__main__projects--two {}
.home__main__projects--two--image {}
.home__main__projects--two--date {}
.home__main__projects--two--description {}
.home__main__projects--three {}
.home__main__projects--three--image {}
.home__main__projects--three--date {}
.home__main__projects--three--description {}
