.home__main__skills {
  max-height: 20.5rem;
  max-width: 105.5rem;
  display: flex;
  margin-top: 9rem;
}

.home__main__skills__curent {
  max-height: 20.5rem;
  max-width: 37.9rem;
  margin-right: 8.3rem;
}

.home__main__skills__title {
  font-size: 3.3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.home__main__skills__list {
  line-height: 3.8rem;
}

.home__main__skills__item {
  font-size: 2.5rem;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
}

.home__main__skills__coming {
  max-height: 15.7rem;
  max-width: 58.8rem;

  span {
    font-size: 1.6rem;
  }
}
