*,
*:after,
*:before {
  box-sizing: border-box;
}

/**
  La valeur après la division (/) doit être égale à
  la largeur de la maquette.
**/
html {
  font-size: calc(100vw / 1440 * 10);
  line-height: 1;
}

body {
  @extend %description-16;

  font-family: $font-poppins;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}
